@import "tailwindcss";

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage/static/BricolageGrotesque-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage/static/BricolageGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage/static/BricolageGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage/static/BricolageGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage/static/BricolageGrotesque-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage/static/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage/static/BricolageGrotesque-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: "Bricolage", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

body {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
